@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

button,
input,
textarea {
	@apply outline-0;
}

.container-fluid {
	@apply font-sans bg-gray-100 w-screen h-screen grid grid-cols-5;
}

.tools {
	@apply col-span-1 lg:text-sm lg:leading-6 relative h-screen overflow-y-scroll bg-white border-r;
	.logo {
		@apply p-8 font-extrabold text-2xl font-mono drop-shadow-md;
	}
	&-item {
		@apply relative flex px-8 h-12 items-center border-b capitalize text-sm font-semibold cursor-pointer;
		&::after {
			content: '';
			@apply absolute top-0 left-0 w-2 h-full z-0 bg-transparent transition-all duration-500;
		}
		&.active {
			@apply text-white;
			&::after {
				@apply bg-blue-500 w-full transition-all duration-500;
			}
		}
	}
}

.sub-tools {
	@apply col-span-1 border-r bg-white max-h-screen overflow-y-scroll scroll-smooth;
	&-item {
		@apply relative flex h-12 px-8 items-center text-xs font-normal border-b cursor-pointer;
		&::after {
			content: '';
			@apply absolute top-0 left-0 w-2 h-full z-0 bg-transparent transition-all duration-500;
		}
		&.active {
			@apply text-white;
			&::after {
				@apply bg-blue-500 w-full transition-all duration-500;
			}
		}
	}
}

.tools-content {
	@apply col-span-3 p-4;
	&-description {
		@apply font-sans text-sm;
	}
	&-main {
		//@apply
	}
}
