@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

button,
input,
textarea {
	@apply outline-0;
}

.tools {
	height: calc(100vh - 10.25rem);
}

.home {
	@apply w-screen h-screen px-4;
	&-title {
		@apply flex items-center h-24 text-3xl font-bold;
	}

	&-tab {
		@apply grid grid-cols-8 p-1 mb-8 h-12 bg-[#e9e9ed] rounded-[100px] text-base;

		&-item {
			@apply relative flex items-center justify-center capitalize rounded-[100px] cursor-pointer z-10;
			&-text {
				@apply relative z-20;
			}
		}
		.home-tab-item-active {
			@apply absolute w-full h-full bg-white rounded-[100px] top-0 left-0 z-10;
		}
	}

	&-tools {
		height: calc(100vh - 12rem);
		@apply grid grid-cols-5 gap-5 overflow-y-scroll scroll-smooth;

		&-item {
			@apply relative bg-[#f4f4f6] rounded-[16px] h-0 pb-[100%];
		}

		.tool-inner {
			@apply absolute flex flex-col w-full h-full top-0 left-0 p-4;
		}

		.tool-logo {
			@apply mb-4 w-10 h-10 p-2 bg-white rounded-full;
			img {
				@apply w-6 h-6;
			}
		}

		.tool-title {
			@apply capitalize font-bold mb-4;
		}

		.tool-desc {
			@apply text-xs text-gray-400;
		}
	}
}
